<header>
    <nav class="navbar">
            <span class="logo">
                <a class="home" href="{% url 'index' %}">
                    <i>Moni-Touring</i>
                </a>
            </span>

            <div class="nav-links">
                <ul class="nav-group">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'monitor add' %}">
                                <i>Add Monitor</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'profile details' request.user.pk %}">
                                <i>Profile</i>
                            </a>
                        </li>

                        <li class="nav-item">
{#                            <a href="{% url 'logout user' %}">#}
{#                                <i>Logout</i>#}
{#                            </a>#}
                                <form method="POST" action="{% url 'logout user' %}">
                                {% csrf_token %}
                                
                                    <button type="submit" class="btn btn-link">
                                        <i>Logout</i>
                                    </button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login user' %}">
                                <i>Login</i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'register user' %}">
                                <i>Register</i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
    </nav>
</header>